<section class="section" id="ces">
  <section class="section-inner">
    <div class="one-half-column">
      <p class="uppercase margin-bottom-half"><small><b>Case Study</b></small></p>
      <h1 class="margin-bottom">International CES</h1>
      <p class="margin-bottom">One of Consumer Electronics Association’s (CEA) social media goals is to establish itself as a thought leader in technology and innovation. However, the conversation volume around consumer electronics on social is overwhelming and difficult to track</p>
      <p class="margin-bottom-2x">As a result, CEA relies on Encore Alert to surface the right trending topics, hashtags, and articles at the right time so they can enter the conversation early and greatly increase their reach.</p>

      <div class="quote-wrapper auto-clear margin-bottom-2x">

        <div class="quote-person-wrapper" >
          <img class="quote-person" src="<%= urlFor('/images/photos/tina.png') %>" />
        </div>

        <div class="quote-text-wrapper">
          <p class="margin-bottom-half"><span class="text-line">“I love receiving the insights in real-time.</span> <span class="text-line">It’s been a huge help to our team here.”</span></p>
          <p><small><b>Tina Anthony, Senior Manager of Social Media</b></small></p>
        </div>
      </div>
    </div><!-- 
    --><div class="one-half-column">
      <img src="<%= urlFor('/images/photos/second-insight.jpg') %>" class="autosize-image" />
    </div>

  </section>
</section>