<section class="section" id="demo">
  <section class="section-inner">
    <div>
      <h1>Never miss anything important again.</h1>
      <h1 class="margin-bottom">Our data science has your back.</h1>
      <div class="insights-form-wrapper">
        <h2 class="insights-contact-message">Thanks for submitting your email! We’ll be in touch with you shortly.</h2>
        <form action="/" class="insights-form" name="insights-form-2">
          <input class="text-input" type="email" name="email" placeholder="Your work email" required="required" /><!--
          --><button data-title="Get Insights Today" class="large-button orange">Get Insights Today</button>
        </form>
      </div>
    </div>
  </section>
</section>