<section class="section" id="resources">
  <section class="section-inner">
    <h1 class="margin-bottom-2x"><b>Our Top Resources</b></h1>

    <div class="margin-bottom-2x">
      <div class="resources-box" id="resources-box-1">
        <a href="http://info.encorealert.com/sidekick" target="_blank">
        <img src="<%= urlFor('/images/photos/sidekick.jpg') %>" class="autosize-image" />
        <div class="resources-box-text-wrapper">
          <h3 class="uppercase margin-bottom-half">The Weekly Sidekick</h3>
          <p>Social media holiday calendar delivered to your inbox weekly</p>
        </div>
        </a>
      </div><!--

      --><div class="resources-box" id="resources-box-2">
        <a href="/blog" target="_blank">
          <img src="<%= urlFor('/images/photos/league.jpg') %>" class="autosize-image" />
          <div class="resources-box-text-wrapper">
            <h3 class="uppercase margin-bottom-half">League Of Extraordinary Marketers Blog</h3>
            <p>Data-driven social media research and case studies</p>
          </div>
        </a>
      </div><!--

      --><div class="resources-box" id="resources-box-3">
        <a href="http://info.encorealert.com/office-hour" target="_blank">
          <img src="<%= urlFor('/images/photos/expert.jpg') %>" class="autosize-image" />
          <div class="resources-box-text-wrapper">
            <h3 class="uppercase margin-bottom-half">Encore Experts</h3>
            <p>Chat with one of our top industry experts about your brand’s social strategy</p>
          </div>
        </a>
      </div>
    </div>

    <p><small><b>As Featured In</b></small></p>
    <img src="<%= urlFor('/images/photos/pr-logos.png') %>" class="autosize-image margin-bottom-2x" />

  </section>
</section>