<section class="section" id="started">
  <section class="section-inner">
    <h1 class="margin-bottom-half"><b>Getting started with Encore Alert is a breeze.</b></h1>
    <h2 class="margin-bottom">It takes only one 30-min call and we’ll set up everything for you.</h2>

    <!-- <a href="#" data-title="Get Your Insights Today" class="large-button margin-bottom-2x">Get Your Insights Today</a> -->

    <div class="quote-wrapper auto-clear margin-bottom-2x">
      <div class="quote-person-wrapper" >
        <img class="quote-person" src="<%= urlFor('/images/photos/corinne.png') %>" />
      </div>

      <div class="quote-text-wrapper">
        <p class="margin-bottom-half">“I love using Encore Alert. All within 24 hours, our account executive set up everything for me. All within a day, I was getting great insights.”</p>
        <p><small><b>Corinne Allie, Senior Interacive Media Manager at Destination Cleveland</b></small></p>
      </div>
    </div>

  </section>
</section>