<section class="section" id="workflow">
  <section class="section-inner">
    <h1 class="margin-bottom-3x"><b>Build right for your workflow.</b></h1>

    <div class="one-third-column">
      <img src="/images/n/photos/actionable-alert.png" class="autosize-image margin-bottom" />
      <h3 class="uppercase margin-bottom-half">Real-time, Actionable Alerts</h3>
      <p>Insights are pushed to where you are, so you can act fast</p>
    </div><!--

    --><div class="one-third-column">
      <img src="/images/n/photos/integrations.png" class="autosize-image margin-bottom" />
      <h3 class="uppercase margin-bottom-half">Plays well with your current tools</h3>
      <p>Integrations with 400+ apps, including Salesforce, Slack, and Google Apps</p>
    </div><!--

    --><div class="one-third-column">
      <img src="/images/n/photos/organization.png" class="autosize-image margin-bottom" />
      <h3 class="uppercase margin-bottom-half">Built for every level of the organization</h3>
      <p>Digests, weekly reports, and on-demand reports</p>
    </div>

  </section>
</section>