<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!--[if IE 9]>
      <meta http-equiv="X-UA-Compatible" content="IE=9" >
    <![endif]-->
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="index,follow">
    <meta name="author" content="EncoreHQ">
    
    <title>EncoreHQ</title>
    
    <link type="text/css" href="styles/encore.css" rel="stylesheet" />
    
  </head>
  <body>
    <header>
			<div id="logo">
			</div>
			<div id="left-link">
				<a href="#">tour</a>
				<a href="#">blog</a>
				<a href="#">twitter</a>
				<a href="#">fb</a>
				<a href="#">login</a>
				<a href="#">get alerts</a>
			</div>
		</header>
		
		<section id="cover">
			<div class="inner-wrapper">
				<h1></h1>
				<p></p>
				<div class="get-alerts">
					<input />
					<button></button>
				</div>
			</div>
		</section>
		
		<section id="clients-bar">
			<div class="inner-wrapper">
				<div id="tweets-filtered">
					<h1>12,039,876</h1>
					<p>tweets ﬁltered for our customers</p>
				</div>
				<div id="clients">
					<a id="client-ww" href="http://www.weddingwire.com/">
					</a>
					<a id="client-cea" href="https://www.ce.org/">
					</a>
					<a id="client-georgetown" href="http://www.georgetown.edu/">
					</a>
				</div>
			</div>
		</section>
		
		<section id="expertise">
			<div class="inner-wrapper">
			</div>
		</section>
		
		<section id="how-encore-works">
			<div class="inner-wrapper">
				<div id="how-encore-works-content">
					<h1 class="title">How Encore Alert Works</h1>
					<ul>
						<li><p>We take the full ﬁrehose of tweets in your brand's Twitter universe</p></li>
						<li><p>Put them through our proprietary algorithms</p></li>
						<li><p>Narrow them down to just the 5-7 high value marketing opportunities a day that count</p></li>
					</ul>
				</div>
				<div id="funnel">
				</div>
			</div>
		</section>
		
		<section id="email-function">
			<div class="inner-wrapper">
				<h1>We push these opportunities directly to your email inbox, in a clean and simple real-time alert, so that you don’t miss a thing.</h1>
			</div>
		</section>
		
		<section id="examples">
			<div class="inner-wrapper">
				<div id="examples-menu">
					<div class="examples-menu-item" data-image="influencer">
						<div class="examples-menu-item-title">
							<h3><b>IMPORTANT PEOPLE</b></h3>
						</div>
						<div class="examples-menu-item-body">
							<p>Turn fans into followers, and followers into advocates. Know who the most important people that you should be reaching out to are.</p>
						</div>
					</div>
					<div class="examples-menu-item" data-image="content">
						<div class="examples-menu-item-title">
							<h3><b>BEST CONTENT</b></h3>
						</div>
						<div class="examples-menu-item-body">
							<p>Know about content relevant to your fans before it's too late and see which content is resonating best with your audience.</p>
						</div>
					</div>
					<div class="examples-menu-item" data-image="growth">
						<div class="examples-menu-item-title">
							<h3><b>YOUR RESULTS</b></h3>
						</div>
						<div class="examples-menu-item-body">
							<p>See the ROI of your posts and build on your success.</p>
						</div>
					</div>
				</div>
				<div id="examples-content">
					<div id="examples-content-trail">
						<div data-example="influencer"></div>
						<div data-example="content"></div>
						<div data-example="growth"></div>
					</div>
				</div>
			</div>
		</section>
		
		<section id="people-saying">
			<div class="inner-wrapper">
				<h1 class="title">What People Are Saying About Us</h1>
				<div class="people-saying-boxes-wrapper">
					<div class="people-saying-box">
						<p>Encore helps me ﬁnd useful content from inﬂuencers I often miss in my dashboard.</p>
						<div class="people-saying-box-author" data-author="anupam">
							<p><b>Anupam Chakravarty<br />Head of Interactive Georgetown</b></p>
						</div>
					</div>
					
					<div class="people-saying-box">
						<p>Speed is of the essence to maximize results in social media, and Encore Alert allows us to never miss a beat.</p>
						<div class="people-saying-box-author" data-author="sonny">
							<p><b>Sonny Ganguly<br />CMO of WeddingWire</b></p>
						</div>
					</div>
				</div>
				<div id="people-saying-headline">
					<h1 class="lite"><i>[Encore Alert] is a 21st century marketer’s dream.</i></h1>
					<p><b>InTheCapital<b></p>
				</div>
				<div id="people-saying-media">
					<a href="" id="people-saying-media-wbj"></a>
					<a href="" id="people-saying-media-wp"></a>
					<a href="" id="people-saying-media-tc"></a>
				</div>
			</div>
		</section>
		
		<script src="/scripts/jquery-2.1.0.min.js"></script>
		<script src="/scripts/encore.js"></script>
  </body>
</html>