<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!--[if IE 9]>
      <meta http-equiv="X-UA-Compatible" content="IE=9" >
    <![endif]-->
    <meta name="description" content="Encore identifies key mentions and trends in real time and prompts you to act when it counts most.">
    <meta name="robots" content="index,follow">

    <!-- fb meta tags -->
    <meta property="og:title" content="Big marketing opportunities in simple, bite-sized pieces">
    <meta property="og:description" content="Encore identifies key mentions and trends in real time and prompts you to act when it counts most.">
    <meta property="og:type" content="website">       
    <meta property="og:image" content="http://www.encorehq.com/images/encore_square.png">
    <meta property="og:url" content="http://www.encorehq.com">

    <link type="icon" href="favicon.ico" />

    <title>Encore Alert</title>
    
    <% if (__PRODUCTION){ %>
      <link href="/encore.<%= __ASSETS_VERSION %>.min.css" rel="stylesheet" type="text/css" />
    <% } else {%>
      <link href="/styles/fonts/myriad-pro/style.css" rel="stylesheet" type="text/css" />
      <link href="/styles/landing-page.css" rel="stylesheet" type="text/css" />
    <% } %>
  </head>

  <body>

    <div id="menu-wrapper">
      <a href="#main" id="logo"></a>
      <div id="menu-right-wrapper" class="auto-clear">
        <ul class="mobile-hidden">
          <li class="menu-item"><a href="#product" data-title="Product">Product</a></li>
          <li class="menu-item"><a href="#ces" data-title="Customers">Customers</a></li>
          <li class="menu-item"><a href="/blog" target="_blank" data-title="Blog">Blog</a></li>
          <li class="menu-item"><a href="http://feed.encorealert.com" target="_blank" data-title="Login" id="login-button">Login</a></li>
        </ul>
        <button id="mobile-menu-toggler"></button>
      </div>
    </div>

    <section class="section" id="main">

      <div id="menu-spacer"></div>

      <div class="section-inner">
        <div>
        <h1 class="margin-bottom">The first <b>automated social media assistant</b> you’ve ever had</h1>
        <h2 class="margin-bottom-2x"><span class="text-line">Never miss another valuable opportunity with machine intelligence that</span> <span class="text-line">notifies you about emerging trends, crises, and important people</span></h2>

        <div class="insights-form-wrapper margin-bottom-2x">
          <h2 class="insights-contact-message">Thanks for submitting your email! We’ll be in touch with you shortly.</h2>
          <form action="/" class="insights-form" name="insights-form-1">
            <input class="text-input" type="email" name="email" placeholder="Your work email" required="required" /><!--
            --><button data-title="Get Insights Today" class="large-button orange">Get Insights Today</button>
          </form>
        </div>
        </div>

        <div>
        <div class="quote-wrapper auto-clear margin-bottom-2x">
          <div class="quote-person-wrapper" >
            <img class="quote-person" src="<%= urlFor('/images/photos/sonny.png') %>" />
          </div>
          <div class="quote-text-wrapper">
            <p class="margin-bottom-half"><span class="text-line">"Speed is the essence to maximize results in social media,</span> <span class="text-line">and Encore Alert allows us to never miss a beat"</span></p>
            <p><small><b>Sonny Ganguly, CMO of WeddingWire</b></small></p>
          </div>
        </div>

        <div id="main-section-logos"></div>
        </div>
      </div>
    </section>

    <div class="placeholder" data-section="product"></div>
    <div class="placeholder" data-section="ces"></div>
    <div class="placeholder" data-section="workflow"></div>
    <div class="placeholder" data-section="started"></div>
    <div class="placeholder" data-section="resources"></div>
    <div class="placeholder" data-section="demo"></div>

    <footer class="section" id="footer">
      <div class="section-inner autoclean">

        <div id="footer-left">
          <% /* <div class="footer-left-column">
            <h3 class="margin-bottom-half uppercase">Get Started</h3>
            <a href="#" target="_blank"><p>Request Demo</p></a>
          </div> */ %>
          <div class="footer-left-column">
            <h3 class="margin-bottom-half uppercase">Resources</h3>
            <a href="http://info.encorealert.com/sidekick" target="_blank" class="margin-bottom-half"><p>Social Media Calendar</p></a>
            <a href="/blog" target="_blank" class="margin-bottom-half"><p>Blog</p></a>
            <a href="http://info.encorealert.com/office-hour" target="_blank"><p>Encore Experts</p></a>
          </div>
          <div class="footer-left-column">
            <h3 class="margin-bottom-half uppercase">Company</h3>
            <a href="https://angel.co/encore-alert/jobs" target="_blank" class="margin-bottom-half"><p>We're Hiring</p></a>
            <a href="mailto:hello@encorealert.com" target="_blank"><p>Support</p></a>
          </div>
        </div>

        <div id="footer-right">
          <div id="footer-logo" class="margin-bottom"></div>
          <div id="footer-social-wrapper" class="margin-bottom">
            <a href="https://www.linkedin.com/company/encore-hq" target="_blank" id="footer-linkedin">LinkedIn</a>
            <a href="https://twitter.com/encore" target="_blank" id="footer-twitter">Twitter</a>
            <a href="https://www.facebook.com/encorealert" target="_blank" id="footer-facebook">Facebook</a>
          </div>
          <div id="footer-phone">
            <p>(866) 541 - 7776</p>
          </div>
        </div>

      </div>
    </footer>

    <% /* form to submit to hubspot */ %>
    <div style="display:none;">
      <iframe name="hubspot_frame"></iframe>
      <form action="https://forms.hubspot.com/uploads/form/v2/396218/a2a9073d-928a-4482-bc27-33ef90ce6c82" id="submit-hubspot-contact" method="POST" target="hubspot_frame">
        <input type="email" name="email" />
        <input type="hidden" name="hs_context" />
      </form>
    </div>

    <% if (__PRODUCTION) { %>
      <script src="/encore.<%= __ASSETS_VERSION %>.min.js"></script>
    <% } else { %>
      <script src="/scripts/jquery-2.1.0.min.js"></script>
      <script src="/scripts/jquery.easing.1.3.js"></script>
      <script src="/scripts/landing-page.js"></script>
    <% } %>
    
    <script>
      window._IP = '<%= ip %>';
    </script>

    <% if (__PRODUCTION) { %>
    <!-- Optimizely - for A/B testing - add immediately after opening <head> tag -->
    <script async src="//cdn.optimizely.com/js/166026312.js"></script>
    <!-- Google Analytics - copy into every page -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-33600528-1', 'auto');
      ga('send', 'pageview');
    </script>
    <% /* 5) Hubspot - copy into every page just before </body> */ %>
    <script type="text/javascript">
      (function(d,s,i,r) {
        if (d.getElementById(i)){return;}
        var n=d.createElement(s),e=d.getElementsByTagName(s)[0];
        n.id=i;n.src='//js.hs-analytics.net/analytics/'+(Math.ceil(new Date()/r)*r)+'/396218.js';
        e.parentNode.insertBefore(n, e);
      })(document,"script","hs-analytics",300000);
    </script>
    <% } %>
  </body>
</html>