<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!--[if IE 9]>
      <meta http-equiv="X-UA-Compatible" content="IE=9" >
    <![endif]-->
    <meta name="description" content="Encore identifies key mentions and trends in real time and prompts you to act when it counts most.">
    <meta name="robots" content="index,follow">

    <!-- fb meta tags -->
    <meta property="og:title" content="Big marketing opportunities in simple, bite-sized pieces">
    <meta property="og:description" content="Encore identifies key mentions and trends in real time and prompts you to act when it counts most.">
    <meta property="og:type" content="website">       
    <meta property="og:image" content="http://www.encorehq.com/images/encore_square.png">
    <meta property="og:url" content="http://www.encorehq.com">

    <link type="icon" href="favicon.ico" />

    <!-- Optimizely - for A/B testing - add immediately after opening <head> tag -->

    <title>Encore</title>
    
    <% if (__PRODUCTION){ %>
      <script async src="//cdn.optimizely.com/js/166026312.js"></script>
      <link href="/encore.<%= __ASSETS_VERSION %>.min.css" rel="stylesheet" type="text/css" />
    <% } else {%>
      <link href="/styles/fonts/source-sans-pro/stylesheet.css" rel="stylesheet" type="text/css" />
      <link href="/styles/landing-page.css" rel="stylesheet" type="text/css" />
    <% } %>
  </head>

  <body>

    <section class="section" id="main">
      <div class="section-inner">
        <a id="logo" href="#" class="margin-bottom">
          <img src="images/logo.png" class="autosize-image" />
        </a>

        <div class="separator"></div>
        <h1 class="margin-bottom">We are proud and excited to announce that <br /> Encore has joined Meltwater.</h1>

        <p class="margin-bottom">Three years ago, Encore set out to build a solution that would empower marketers with key actionable insights. We’ve worked tirelessly to build smart alerts that cut through all the social noise and deliver the magic moments that are often missed.</p>

        <p class="margin-bottom">In keeping with our promise, we can’t imagine a better home for our product than Meltwater. Our shared vision will allow us to better serve thousands of incredible customers worldwide. To learn about our new home Meltwater, click here. To learn more about the acquisition, read this blog post or check out <br />the press announcement.</p>

        <p class="margin-bottom">The mission is still strong, our passion still unceasing. For all our customers and supporters, thank you for being part of the journey thus far. We’re excited to share this next chapter with you.</p>

        <p><b>Much love,</b></p>

        <img id="signatures" src="images/signatures.png" class="margin-bottom autosize-image" />
        <div class="separator"></div>
        <div id="actions">
          <a href="#" class="button dark">Current Customers Login</a>
          <a href="#" class="button light">Get Alerts Now</a>
        </div>
      </div>
    </section>

    <!-- <% /* form to submit to hubspot */ %>
    <div style="display:none;">
      <iframe name="hubspot_frame"></iframe>
      <form action="https://forms.hubspot.com/uploads/form/v2/396218/a2a9073d-928a-4482-bc27-33ef90ce6c82" id="submit-hubspot-contact" method="POST" target="hubspot_frame">
        <input type="email" name="email" />
        <input type="hidden" name="hs_context" />
      </form>
    </div> -->

    <% if (__PRODUCTION) { %>
      <script src="/encore.<%= __ASSETS_VERSION %>.min.js"></script>
    <% } else { %>
      <script src="/scripts/jquery-2.1.0.min.js"></script>
      <script src="/scripts/jquery.easing.1.3.js"></script>
      <script src="/scripts/landing-page.js"></script>
    <% } %>
    
    <script>
      window._IP = '<%= ip %>';
    </script>

    <% if (__PRODUCTION) { %>
    <!-- Google Analytics - copy into every page -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-33600528-1', 'auto');
      ga('send', 'pageview');
    </script>

    <% /* 5) Hubspot - copy into every page just before </body> */ %>
    <!-- <script type="text/javascript">
      (function(d,s,i,r) {
        if (d.getElementById(i)){return;}
        var n=d.createElement(s),e=d.getElementsByTagName(s)[0];
        n.id=i;n.src='//js.hs-analytics.net/analytics/'+(Math.ceil(new Date()/r)*r)+'/396218.js';
        e.parentNode.insertBefore(n, e);
      })(document,"script","hs-analytics",300000);
    </script> -->

    <!-- Google Code for Lead Form1 Conversion Page
    In your html page, add the snippet and call
    goog_report_conversion when someone clicks on the
    chosen link or button. -->
    <script type="text/javascript">
     /* <![CDATA[ */
     goog_snippet_vars = function() {
       var w = window;
       w.google_conversion_id = 942388352;
       w.google_conversion_label = "4vIxCMiD118QgOmuwQM";
       w.google_remarketing_only = false;
     }
     // DO NOT CHANGE THE CODE BELOW.
     goog_report_conversion = function(url) {
       goog_snippet_vars();
       window.google_conversion_format = "3";
       window.google_is_call = true;
       var opt = new Object();
       opt.onload_callback = function() {
       if (typeof(url) != 'undefined') {
         window.location = url;
       }
     }
     var conv_handler = window['google_trackConversion'];
     if (typeof(conv_handler) == 'function') {
       conv_handler(opt);
     }
    }
    /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion_async.js"></script>

    <!-- Facebook Conversion Code for Website Leads -->
    <script>(function() {
    var _fbq = window._fbq || (window._fbq = []);
    if (!_fbq.loaded) {
    var fbds = document.createElement('script');
    fbds.async = true;
    fbds.src = '//connect.facebook.net/en_US/fbds.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(fbds, s);
    _fbq.loaded = true;
    }
    })();
    window._fbq = window._fbq || [];
    window._fbq.push(['track', '6027412019554', {'value':'0.0','currency':'USD'}]);
    </script>
    <noscript><img height="1" width="1" alt="" style="display:none" 
    src="https://www.facebook.com/tr?ev=6027412019554&amp;cd[value]=0.0&amp;cd[currency]=USD&amp;noscript=1" 
    /></noscript>

    <!-- Custom Audience Pixel Code -->
    <script>
    !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
    n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
    document,'script','//connect.facebook.net/en_US/fbevents.js');
    // Insert Your Custom Audience Pixel ID below. 
    fbq('init', '488292421339412');
    fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=488292421339412&ev=PageView&noscript=1"
    /></noscript>

    <script src="//load.sumome.com/" data-sumo-site-id="93c0f1f79f7c26a8c8be1b3258561d5009599d5b6435372b73e02132e9fc64d5" async="async"></script>

    <% } %>
  </body>
</html>