<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!--[if IE 9]>
      <meta http-equiv="X-UA-Compatible" content="IE=9" >
    <![endif]-->
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="index,follow">
    <meta name="author" content="EncoreHQ">

    <link type="icon" href="favicon.ico" />
    <title>EncoreHQ</title>
    
    <link type="text/css" href="styles/encore.css" rel="stylesheet" />    
  </head>
  <body>
    <header>
      <div class="inner-wrapper">
        <div id="logo"></div>
        <div id="top-links">
          <a href="#" id="top-tour-button"><b>tour</b></a>
          <a href="#" id="top-blog-button"><b>blog</b></a>
          <div id="top-social-buttons">
            <a href="#" id="top-twitter-button">twitter</a>
            <a href="#" id="top-fb-button">fb</a>
          </div>
          <a href="#" id="top-login-button"><b>login</b></a>
          <a href="#" id="top-getalerts-button"><b>get alerts</b></a>
        </div>
      </div>
    </header>
    
    <section id="cover">
      <div class="inner-wrapper">
        <div id="cover-center">
          <h1>The right social opportunities at just the right time</h1>
          <p>Encore Alert continually identiﬁes key mentions and trends from your brand's social media and sends you proactive alerts with recommended actions.</p>
          <div class="get-alerts">
            <input type="text" placeholder="Your twitter handle" />
            <button>Get Alerts</button>
          </div>
        </div>
      </div>
    </section>
    
    <section id="clients">
      <div class="inner-wrapper">
        <div id="clients-tweets-filtered">
          <h1>12,039,876</h1>
          <h3>tweets ﬁltered for our customers</h3>
        </div>
        <div id="clients-logos">
          <a id="client-logos-ww" href="http://www.weddingwire.com/">
          </a>
          <a id="client-logos-cea" href="https://www.ce.org/">
          </a>
          <a id="client-logos-georgetown" href="http://www.georgetown.edu/">
          </a>
        </div>
      </div>
    </section>
    
		<div style="overflow:hidden">
			<section id="expertise">
				<div class="inner-wrapper">
					<h1>How do you make sure you’re not missing anything important?</h1>
					<h3 class="title">With our proactive social media insights sent directly to your email inbox, you don’t have to worry.</h3>
					<div id="expertise-items">
						<div class="expertise-box">
							<div class="expertise-box-icon"></div>
							<div class="expertise-box-content">
								<h4 class="subtitle"><b>Never miss a marketing opportunity</b></h4>
								<p>Have a piece of mind knowing that our proprietary algorithms are sifting through thousands of tweets about your brand 24/7, so that you don’t have to.</p>
							</div>
						</div>
						<div class="expertise-box">
							<div class="expertise-box-icon"></div>
							<div class="expertise-box-content">
								<h4 class="subtitle"><b>Act fast and efficiently</b></h4>
								<p>Our alerts are sent to you in real-time so that you can take advantage of high-value marketing opportunities, as they happen.</p>
							</div>
						</div>
						<div class="expertise-box">
							<div class="expertise-box-icon"></div>
							<div class="expertise-box-content">
								<h4 class="subtitle"><b>Make data-driven decisions</b></h4>
								<p>No more guessing about which content is most relevant to your audience. Receive data-driven recommendations on best engaging your community.</p>
							</div>
						</div>
					</div>
				</div>
			</section>
			
			<section id="how-encore-works">
				<div class="inner-wrapper">
					<div id="how-encore-works-content">
						<h1 class="title">How Encore Alert Works</h1>
						<ul>
							<li><p>We take the full ﬁrehose of tweets in your brand's Twitter universe</p></li>
              <li><p>Put them through our proprietary algorithms</p></li>
							<li><p>Narrow them down to just the 5-7 high value marketing opportunities a day that count</p></li>
						</ul>
					</div>
					<div id="how-encore-works-funnel">
						<div id="funnel">
							<div id="funnel-entrance">
								<div class="funnel-result alert-1"></div>
								<div class="funnel-result alert-2"></div>
								<div class="funnel-result alert-3"></div>
								<div class="funnel-money"></div>
								<div class="funnel-money"></div>
								<div class="funnel-money"></div>
								<div class="funnel-money"></div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
    
    <div id="email-background"></div>
    <section id="email-function">
      <div class="inner-wrapper">
        <h1>We push these opportunities directly to your email inbox, in a clean and simple real-time alert, so that you don’t miss a thing.</h1>
      </div>
    </section>
    
    <section id="examples">
      <div class="inner-wrapper">
        <div id="examples-menu">
          <div class="examples-menu-item" data-image="influencer">
            <div class="examples-menu-item-title">
              <h3><b>IMPORTANT PEOPLE</b></h3>
            </div>
            <div class="examples-menu-item-body">
              <p>Turn fans into followers, and followers into advocates. Know who the most important people that you should be reaching out to are.</p>
            </div>
          </div>
          <div class="examples-menu-item" data-image="content">
            <div class="examples-menu-item-title">
              <h3><b>BEST CONTENT</b></h3>
            </div>
            <div class="examples-menu-item-body">
              <p>Know about content relevant to your fans before it's too late and see which content is resonating best with your audience.</p>
            </div>
          </div>
          <div class="examples-menu-item" data-image="growth">
            <div class="examples-menu-item-title">
              <h3><b>YOUR RESULTS</b></h3>
            </div>
            <div class="examples-menu-item-body">
              <p>See the ROI of your posts and build on your success.</p>
            </div>
          </div>
        </div>
        <div id="examples-content">
          <div id="examples-content-trail">
            <div data-example="influencer"></div>
            <div data-example="content"></div>
            <div data-example="growth"></div>
          </div>
        </div>
        <div id="examples-mobile">
          <h1>Important People</h1>
          <img src="/images/influencer-alert.jpg" alt="influencer-alert"/>
          <h1>Best Content</h1>
          <img src="/images/content-alert.jpg" alt="content-alert"/>
          <h1>Your Results</h1>
          <img src="/images/growth-alert.jpg" alt="growth-alert"/>
        </div>
      </div>
    </section>
    
    <section id="people-saying">
      <div class="inner-wrapper">
        <h1 class="title">What People Are Saying About Us</h1>
        <div class="people-saying-boxes-wrapper">
          <div class="people-saying-box">
            <p>Encore helps me ﬁnd useful content from inﬂuencers I often miss in my dashboard.</p>
            <div class="people-saying-box-author" data-author="anupam">
              <p><b>Anupam Chakravarty<br />Head of Interactive Georgetown</b></p>
            </div>
          </div>
          
          <div class="people-saying-box">
            <p>Speed is of the essence to maximize results in social media, and Encore Alert allows us to never miss a beat.</p>
            <div class="people-saying-box-author" data-author="sonny">
              <p><b>Sonny Ganguly<br />CMO of WeddingWire</b></p>
            </div>
          </div>

          <div class="people-saying-box">
            <p>I am loving the alerts in real time. Just wanted to let you know that Encore Alert is fantastic and it has been a huge help to us here.</p>
            <div class="people-saying-box-author" data-author="tine">
              <p><b>Tina Anthony<br />Sr. Manager of Social Media at Consumer Electronics Association</b></p>
            </div>
          </div>

          <div class="people-saying-box">
            <p>Encore Alert has been an amazing tool for me to use. I've been able to promptly respond to our Twitter fans and find content that our followers like and is relevant.</p>
            <div class="people-saying-box-author" data-author="christine">
              <p><b>Christine DeJoy<br />Social Media Manager at Twistory Studios</b></p>
            </div>
          </div>
        </div>
        <div id="people-saying-headline">
          <h1 class="lite"><i>[Encore Alert] is a 21st century marketer’s dream.</i></h1>
          <p><b>InTheCapital</b></p>
        </div>
        <div id="people-saying-media">
          <a href="" id="people-saying-media-wbj"></a>
          <a href="" id="people-saying-media-wp"></a>
          <a href="" id="people-saying-media-tc"></a>
        </div>
      </div>
    </section>
    
    <section id="blog">
      <div class="inner-wrapper">
        <div id="blog-presentation">
          <h1 class="subtitle">Our Blog</h1>
          <p>Stay Up-to-Date with our blog ﬁlled with information about the latest marketing trends, data, tips on taking action on opportunities, and more.</p>
          <input type="text" placeholder="Your email address" />
          <button>Subscribe to our blog</button>
        </div>
        <div id="blog-content">
          <a target="_blank" class="blog-content-box"></a>
          <a target="_blank" class="blog-content-box"></a>
          <a target="_blank" class="blog-content-box"></a>
          <a target="_blank" class="blog-content-box"></a>
        </div>
      </div>
    </section>
    
    <section id="why-encore">
      <div class="inner-wrapper">
        <div id="why-encore-logo"></div>
        <h1 class="title">3 Reasons to Try Encore Alert</h1>
        <div class="why-encore-item" data-image="scientist">
          <p>It’s like a social media data scientist who never sleeps and sends you relevant tweets</p>
        </div>
        <div class="why-encore-item" data-image="insights">
          <p>Not another complex dashboard you have to log into, let the insights come to you</p>
        </div>
        <div class="why-encore-item" data-image="workflow">
          <p>Supplements your current workﬂow and tools, and helps you spend time where it matters most</p>
        </div>
      </div>
    </section>

    <section id="let-us-help">
      <div class="inner-wrapper">
        <h1 class="title">Let us help you get started.</h1>
        <div class="let-us-help-item" data-help="1">
          <h3 class="subtitle">Free 30-Day Social Media Power Course</h3>
          <p>We’ll share with you daily insights and best practices on how to optimize your social media strategy, so that you can get the highest marketing ROI possible.</p>
          <a href="#" target="_blank"><b>Sign up for a free course &gt;</b></a>
        </div>
        <div class="let-us-help-item" data-help="2">
          <h3 class="subtitle">Request a Demo</h3>
          <p>One of our marketing specialists can be in touch with you soon to show you how we can help you get the ROI that you need from social.</p>
          <a href="#" target="_blank"><b>Request a demo &gt;</b></a>
        </div>
        <div class="let-us-help-item" data-help="3">
          <h3 class="subtitle">Start Getting Alerts</h3>
          <p>Set up your own customized account and start receiving proactive alerts about your social media</p>
          <a href="#" target="_blank"><b>Create an account now &gt;</b></a>
        </div>
      </div>
    </section>
    
    <footer>
      <div class="inner-wrapper">
        <div id="footer-logo"></div>
        <h2>Contact Us</h2>
        <p>1400 Key Blvd #100</p>
        <p>Arlington, VA 22209</p>
        <a href="mailto:hello@encorehq.com" target="_blank"><b>hello@encorehq.com</b></a>
        <div id="footer-links">
          <a href="#" id="footer-link-twitter"></a>
          <a href="#" id="footer-link-facebook"></a>
          <a href="#" id="footer-link-blog"></a>
        </div>
        <small>© Encore HQ</small>
      </div>
    </footer>
    <script src="/scripts/jquery-2.1.0.min.js"></script>
    <script src="/scripts/encore.js"></script>
  </body>
</html>