html{ }
body{
  margin:0;
  padding: 0;
  min-width: 320px;
  position: relative;
  background-color: #3b6991;
  font-size: 0;
}
*{
  outline:none;
  font-family:'source_sans_pro', arial;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  -moz-appearance:none;
  -webkit-appearance:none;
  appearance:none;
  vertical-align: top;
  margin: 0;
  padding: 0;
}
h1,h2,h3,h4,h5,h6,b,p,ul,li{
  margin:0;
  padding: 0;
  font-weight: normal;
}
a,
a:hover,
a:visited{ text-decoration: none; }

h1 {
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.2;
  color:#fff;
}
p {
  font-weight: 400;
  font-size: 1.15rem;
  line-height: 1.8;
  color: #ffffff;
}
@media handheld, screen and (max-width:720px) {
  h1 { font-size: 1.6rem; }
  p { font-size: 1rem; }
}
b { font-weight: 700; }
p a { 
  color:#fff; 
  text-decoration: underline;
}

/* tools */
.auto-clear:after {
  content: "";
  display: table;
  clear: both;
}
.margin-bottom {margin-bottom: 36px;}

@media handheld, screen and (max-width:720px){
  br {display: none;}
}
.autosize-image{
  max-width:100%;
  max-height:100%;
  height: auto;
  width: auto;
}

/* sections */
.section {
  text-align: center;
  overflow: hidden;
  position: relative;
  box-shadow: rgba(0,0,0,.3) 0 0 0 ;
}
.section-inner {
  max-width:960px;
  min-width: 320px;
  padding: 84px 24px 156px;
  margin: 0 auto;
}

/* inputs */
button::-moz-focus-inner,
select::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
::-webkit-input-placeholder { color: #666; }
:-moz-placeholder { color: #666; } /* Firefox 18- */
::-moz-placeholder { color: #666; } /* Firefox 19+ */
:-ms-input-placeholder { color: #666; }

#logo {
  display: block;
}

.button {
  width: 300px;
  height: 72px;
  text-align: center;
  display: inline-block;
  background-color: red;
  line-height: 72px;
  font-size: 1rem;
  font-weight: 600;
  color:#fff;
  text-transform: uppercase;
  transition: transform 250ms;
  transform: scale(1);
}
.button:hover {
  transform: scale(1.05);
}
.button.dark { background-color: #1c4263; }
.button.light { background-color: #5bc0be; }
.button + .button {
  margin-left: 24px;
}
@media handheld, screen and (max-width:720px) {
  .button {
    width: 100%;
  }
  .button + .button {
    margin-left: auto;
    margin-top: 12px;
  } 
}

.separator {
  border-top:1px solid #1c4263;
  margin-bottom: 30px;
}

/* animations */
#main .section-inner > * { transform:translateY(100px); opacity: 0;}
#main .section-inner > *.visible { 
  opacity: 1; transform:translateY(0);
  transition: all 800ms cubic-bezier(0,0.57,0.09,1.03); 
}